.general-terminal {
      position: relative;

      .select-serial-number {
      
                  height: 50px;
                  margin-bottom: 20px;
      
                  .inputs {
                        margin-bottom: 1em;
      
                        select {
                              display: block;
                              margin-bottom: .35em;
                              @include styletext($xxsm-font-size, $color-tertiary-300, 400, left);
                        }
      
                  }
            }
      main {
            margin-top: 4em;
            margin-bottom: 5em;
            padding: 1em;


            .refetching {
                  background: #fff;
                  padding: 1em;
                  position: absolute;
                  top: 20%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 25;
            }
      }
}