//set text properties
@mixin styletext($fontsize,$color, $fontweight:400, $textalign:center){
    color: $color;
    font-size: $fontsize;
    font-weight: $fontweight;
    text-align: $textalign;
}

//responsiveness
@mixin for-small-screens{
    @media (max-width: 300px) {
        @content;
    }
}

@mixin for-medium-screens{
    @media (max-width: 500px) {
        @content;
    }
}