//fonts-family
$font-primary : 'Poppins', sans-serif;


//font-sizes
$lg-font-size : 28px;
$md-font-size:20px;
$sm-font-size : 16px;
$xsm-font-size : 14px;
$xxsm-font-size : 12px;

//colors

$color-primary-400: #F18403; 
$color-primary-500: #FF0000;
$color-primary-600: #FF190B;

$color-tertiary-100 : #ffffff;
$color-tertiary-200 : #A0AEC0;
$color-tertiary-300 : #4A5568;
$color-tertiary-400 : #2D3748;
$color-tertiary-500 : #3A3A3A;
$color-tertiary-600 : #171923;