.wallet-transfer {
    main {
        margin-top: 2em;
        margin-bottom: 5em;
        padding: 1em;

        .header {
            z-index: 2;
            position: sticky;
            top: 7vh;
            border-radius: 10px;
            padding: .75em 1em;
            width: max-content;
            margin: 0 auto;
            background: #FF3A3A80;
            display: flex;
            place-items: center;
            gap: 20px;

            p {
                @include styletext($xxsm-font-size, $color-tertiary-100, 400, center);
            }

            h2 {
                display: flex;
                place-items: center;
                gap: 3px;
                @include styletext($xsm-font-size, $color-tertiary-100, 600, center);

                img {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        .beneficiary-container {
            margin: 1em 0;

            .beneficiary-header,
            .see-more {
                place-items: center;
                align-items: center;
                justify-items: center;

                p {
                    margin-bottom: .35em;
                    @include styletext($xxxsm-font-size, $color-tertiary-400, 600, left);
                }
            }

            .beneficiaries {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                margin: .75em 0;
                overflow-x: scroll;
                // padding: 0 0 0 20em;

                .beneficiary {
                    width: 60px;

                    p {
                        margin-top: .35em;
                        @include styletext($xxxxsm-font-size, $color-tertiary-300, 400, left);
                    }
                }
            }
        }

        form {

            .inputs {
                margin-bottom: 1em;

                label {
                    display: block;
                    margin-bottom: .35em;
                    @include styletext($xxsm-font-size, $color-tertiary-300, 400, left);
                }

                #amount {
                    color: $color-tertiary-300;
                    padding: .85em 1em .85em 2.5em;
                }

                input {
                    @include styletext($xsm-font-size, $color-tertiary-300, 400, left);
                }
            }

            .submit-button {
                margin: 3em 0 5em 0;
                width: 100%;

                button {
                    width: 100%;
                    border: none;
                    padding: 1.5em 0;
                }
            }
        }
    }
}