.confirm-all-transactions {
    min-height: 100vh;
    width: 100vw;
    background: $color-tertiary-100;
    z-index: 2;
    position: absolute;
    top: 0;

    .wrapper {
        background: $color-tertiary-100;

        main {
         border:1px solid red;
        }
    }
}