.overview {
    padding: .5em 1em;


    .page-name {
        position: relative;
        padding: 0;
        margin-bottom: 2em;
    }


    header {
        display: flex;
        justify-content: space-between;
        place-items: center;

        .user-greet {
            display: flex;
            place-items: center;

            h1 {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 10px;
                @include styletext($sm-font-size, $color-tertiary-300, 800, left);
            }
        }
    }

    main {
        margin-top: 1.5em;

        .balance-container {
            background: url('../assets/balance-bg.png') repeat center,
                linear-gradient(178.88deg, #323232 -6.81%, #282828 295.48%);
            ;
            text-align: center;
            border-radius: 10px;
            position: sticky;
            top: 0;
            padding: 1.5em 1em;
            display: flex;
            flex-direction: column;
            place-items: center;
            justify-content: space-between;
            z-index: 2;

            h2 {
                @include styletext($xxsm-font-size, $color-tertiary-100, 400, center);
            }

            .account-balance {
                display: flex;
                place-items: center;
                margin: .5em 0 1em 0;
                @include styletext($md-font-size, $color-tertiary-100, 800, center);

                img {
                    margin-right: .35em;
                }
            }

            .balance-ctrls {
                width: 80%;
                display: flex;
                justify-content: space-between;

                div {
                    width: 50px;
                    height: 50px;

                    span {
                        background: $color-tertiary-100;
                        margin: 0 auto;
                        width: 40px;
                        height: 25px;
                        display: block;
                        border-radius: 2px;

                        svg {
                            margin: auto;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    p {
                        margin-top: .5em;
                        @include styletext($xxxsm-font-size, $color-tertiary-200, 400, center);
                    }
                }
            }
        }

        .quick-action-container {
            margin-top: 2em;

            .desc {
                @include styletext($xsm-font-size, $color-tertiary-300, 600, left);
            }

            .quick-action-items {
                margin-top: 1em;
                display: flex;
                gap: 1em;

                div {
                    background: #FFFFFF;
                    border: 1px solid #C4C4C4;
                    box-sizing: border-box;
                    box-shadow: 0px 3.45918px 25.9439px rgba(82, 81, 81, 0.15);
                    border-radius: 5px;
                    padding: .5em;
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        margin-right: 10px;
                    }

                    p {
                        @include styletext($xsm-font-size, $color-tertiary-300, 400, left);
                    }
                }
            }
        }

        .recent-transaction-history {
            margin-top: 2em;
            margin-bottom: 4em;

            .desc {
                margin-bottom: 1em;
                @include styletext($xsm-font-size, $color-tertiary-300, 600, left);
            }
        }

    }
}