.signup {
    padding: 1em 2em;

    &__desc {
        margin-bottom:2em;
        h1 {
            margin-top: 2em;
            margin-bottom: .35em;
            @include styletext($lg-font-size, $color-tertiary-300, 700, center);

            @include for-medium-screens {
                @include styletext($md-font-size, $color-tertiary-300, 700, left);
            }

            @include for-small-screens {
                @include styletext($sm-font-size, $color-tertiary-300, 700, left);
            }
        }

        p {
            @include styletext($sm-font-size, $color-tertiary-200, 400, center);
            width:50%;
            margin:0 auto;

            @include for-medium-screens {
                width:100%;
                @include styletext($xsm-font-size, $color-tertiary-200, 400, left);
            }

            @include for-small-screens {
                width:100%;
                @include styletext($xxsm-font-size, $color-tertiary-200, 400, left);
            }

        }
    }

    &__form {
        max-width: 400px;
        margin: 0 auto;

        .inputs {
            position: relative;
            margin-bottom: 1em;

            input {
                @include styletext($xsm-font-size, $color-tertiary-600, 400, left);

                @include for-small-screens {
                    @include styletext($xxsm-font-size, $color-tertiary-300, 400, left);
                }
            }

            input::placeholder {
                @include for-small-screens {
                    @include styletext($xxsm-font-size, $color-tertiary-200, 400, left);
                }
            }

            label {
                @include styletext($xsm-font-size, $color-tertiary-300, 400, left);

                @include for-small-screens {
                    @include styletext($xxsm-font-size, $color-tertiary-300, 400, left);
                }
            }

            .chakra-radio {
                span {
                    @include styletext($xsm-font-size, $color-tertiary-200, 400, left)
                }
            }

            .chakra-checkbox {
                margin-top: 1em;

                span {
                    @include styletext($xxsm-font-size, $color-tertiary-200, 400, left)
                }
            }
        }

        a {
            @include styletext($xsm-font-size, $color-primary-400, 400, left);
        }

        .submit-button {
            margin-top: 5em;

            button {
                width: 100%;
                // background-color: $color-primary-500;
                border: none;
                @include styletext($xxsm-font-size, $color-tertiary-100, 400, center);
            }
        }

        .no-account {
            margin-top: 1em;
            @include styletext($xxsm-font-size, $color-tertiary-600, 600, center);

            a {
                @include styletext($xxsm-font-size, $color-primary-600, 600, center);
            }
        }
    }
}