.password-settings {

    main {
        margin-top: 4em;
        margin-bottom: 5em;
        padding: 1em;

        .header-text {
            @include styletext($sm-font-size, $color-tertiary-300, 600, left);
        }

        p {
            margin-top: .35em;
            @include styletext($xxsm-font-size, $color-tertiary-300, 400, left);
        }


        form {
            margin-top: 3em;

            .inputs {
                margin-bottom: 1em;

                label {
                    display: block;
                    margin-bottom: .35em;
                    @include styletext($xxsm-font-size, $color-tertiary-300, 400, left);
                }


                input {
                    @include styletext($xsm-font-size, $color-tertiary-300, 400, left);
                }
            }

            .submit-button {
                margin: 3em 0 5em 0;
                width: 100%;

                button {
                    width: 100%;
                    border: none;
                    padding: 1.5em 0;
                }
            }
        }
    }
}